body {
    font: 100% arial, sans-serif;
}
.title {
    background-color: #FFD700;
    text-indent: 7px;
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.selectContainer, .sortContainer, .wLines, .outputContainer, th {
    padding: 5px;
    margin-top: 1em;
}

.townSelecter {
    float: right;
}

td,th {
    width: 100px;
    text-align: center;
}

button {
    float: right;
    margin: 5px;
}

.list {
    padding: 5px;
}

.monitor {
    width: 400px;
    background-color: #F9F7BA;
    float: left;
    -moz-box-shadow: 7px 7px 8px #818181;
    /* browser specific CSS, generally avoid these */
    margin: 20px;
}

label {
    font-size: 14pt;
    font-weight: 700;
}
